<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>虹云管家.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AB173BD1C521CCD00923E5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AB173D61C521CCD00923E5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AB173E11C521CCD00923E5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
